<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">
      <img src="/static/images/home.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Home
    </a>
    <a class="navbar-brand" href="#about">
      <img src="/static/images/about-me-icon.png" alt="about-me" width="30" height="30" class="d-inline-block align-text-top">
      About Me
    </a>
    <a class="navbar-brand" href="#projects">
      <img src="/static/images/coding-icon.png" alt="projects" width="30" height="30" class="d-inline-block align-text-top">
      Projects
    </a>
    <a class="navbar-brand" href="#certificates">
      <img src="/static/images/certificates.png" alt="certificates" width="30" height="30" class="d-inline-block align-text-top">
      Certificates
    </a>
    <a class="navbar-brand" href="#contacts">
      <img src="/static/images/contacts.png" alt="contacts" width="30" height="30" class="d-inline-block align-text-top">
      Contacts
    </a>
  </div>
</nav>
</body>
</html>